
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Get Folks</h1>
        <p>@Html.ActionLink("Please click to fill RSVP form","RsvpForm")</p>
    </div>
</body>
</html>
